<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add  key="TwilioAccountSid"  value="AC71a11c2247bb8b5c0095cf1315fe3c7a"/>
    <add  key="TwilioAuthToken"  value="2e057d4729e1464d677fd582cc1606ab"/>
    <add  key="TextMsgFromNum"  value="+17048702331"/>
    <add  key="TextMsgToNum"  value="+19802268232"/>


  </appSettings>
  <connectionStrings>
    <add name="SVSqlDB" connectionString="Server=tcp:racecardata.database.windows.net,1433;Initial Catalog=SportsVizRaceData;Persist Security Info=False;User ID=nascar-admin;Password=wert##44;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>

  </connectionStrings>
</configuration>