<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings >
    <add key="SqlSubscriber.ConnectionString" value="Server=tcp:PRO-CAPTURE-B,1433;Initial Catalog=nascar.gps;Persist Security Info=False;User ID=sqlmgr;Password=MyPassword01;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SqlSubscriber.GpsBatchSize" value="40" />
    <add key="SqlSubscriber.AzureBatchSize" value="1000" />
    <add key="SqlSubscriber.ReplicateToAzure" value="true" />
    <add key="SqlSubscriber.BatchTriggerInterval" value="50" />
    <add key="SqlSubscriber.maxDegreeOfParallelism" value="1" />
    <add key="SqlSubscriber.GpsTimeFormat" value="yyyyMMdd-H:mm:ss.fff" />
    <add key="SqlSubscriber.AzureConnectionString" value="Server=racecardata.database.windows.net;Initial Catalog=nascar.gps;User ID=rhines;Password=Nascar01;Connection Timeout=30;" />
  </appSettings>
  
</configuration>