<?xml version="1.0" encoding="utf-8" ?>
<ApplicationInsights xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <InstrumentationKey xdt:Transform="Replace">0e9c67ad-e7b6-41ad-b231-4145425bd7a0</InstrumentationKey>
</ApplicationInsights>