<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="UpdatedFilesDirectory" value="C:\Users\NASCAR\Desktop\CarDataService\CarDataService\bin\Debug\temp" />
    <add key="ApplicatonDirectory" value="C:\Users\NASCAR\Desktop\CarDataService\CarDataService\bin\Debug" />
    <add key="ServiceName" value="CarDataService" />
    <add key="LatestVer" value="1.0.6064.32884"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=strsessioncatqueuedev;AccountKey=j8kbnSte4ROWUlmshGCzLH+/Vbgi/KjppJ0SX4wiCHrL0pDjkvT/t5Egu5eMjd5A0fTrUoDjQgw4jTZtYOFDPA==" />
    <add key="AzureConfigDir" value="cardataserviceconfig"/>
    <add key="LatestSavedVer" value="1.0.6064.32884"/>
    <add key="ConfigFileName" value="App.config"/>
  </appSettings>
</configuration>