<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key ="DataStreamingHost" value ="13.92.243.208" />
    <add key ="StreamingPort" value ="5202" />
    <add key ="EventHubConnectionString" value ="Endpoint=sb://nascardatstream-ns.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=tytrJQyUfIwJjN1xccc+htsrf++HNcYWST/p5At/H2w=" />
    <add key ="EventHubName" value ="nascardatastream" />
  </appSettings>
</configuration>